<html>
    <head>
        <title>form validation</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        
    </head>
    <style>
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
input.ng-invalid {
    background-color:pink;
       /* margin-left: 105px;*/
}
input.ng-valid {
    background-color:lightgreen;
}

</style>
    <body ng-app='mainApp'>
        <div ng-controller='mainCtrl'>
            search:<input type="text" ng-model="test" placeholder="enter name to search"><br>
            <table>
                <br>
                <tr>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Email</th>
                    <th>Age</th>
                </tr>
                <tr ng-repeat="entry in employee | orderBy:'firstname'">
                    <tr ng-repeat="entry in employee  | filter:test">
                          
                    <td>{{entry.firstname}}</td>
                    <td>{{entry.lastname}}</td>
                    <td>{{entry.email}}</td>
                    <td>{{entry.age}}</td>
                </tr>
                </tr>
            </table>
            <br>
            <form >
                FirstName:<br><input type="text" ng-model="firstname" required><br>
                LastName:<br><input type="text" ng-model="lastname" required><br>
                Email:<br><input type="text" ng-model="email" required><br>
                Age:<br><input type="number" ng-model="age" required><br>
                <input type="button" value="Submit" ng-click="insertData()">
              
            </form>
              
        </div>
        
        <script>
       var app = angular.module('mainApp',[]);
       app.controller('mainCtrl',function($scope,$http,$interval){
               $scope.Data=function(){
  $http.get("http://localhost/nitesh/JSON.php")
            .success(function(response){
               $scope.employee=response;
            });
      }
           $scope.Data();	
       $scope.insertData=function(){	      	
    $http.post("insert.php", {
		        'firstname':$scope.firstname,
                'lastname':$scope.lastname,
                 'email':$scope.email,
                'age':$scope.age,})
    
    .success(function(data,status,headers,config){
    console.log("Data Inserted Successfully");
         $scope.Data();
         });
        }
    
         });         
        </script>
    </body>
</html>